@import url(//fonts.googleapis.com/css?family=Lato:300:400);

body {
  margin:0;
}

h1 {
  font-family: 'Lato', sans-serif;
  font-weight:300;
  letter-spacing: 2px;
  font-size:48px;
}
p {
  font-family: 'Lato', sans-serif;
  letter-spacing: 1px;
  font-size:14px;
  color: #333333;
}

.menu{
    height:15vh;
}

.header {
  position:relative;
  text-align:center;
  background: linear-gradient(60deg, rgba(84,58,183,1) 0%, rgba(0,172,193,1) 100%);
  color:white;
}

.logo {
  fill:white;
  padding-right:15px;
  display:inline-block;
  width: 150px;
  height: 150px;
  border-radius: 50%; /* This creates a circular shape */
  object-fit: cover; /* Ensures the image covers the entire circle */
  vertical-align: middle;
}

.inner-header {
  height:30vh;
  width:100%;
  margin: 0;
  padding: 0;
}

.flex { /*Flexbox for containers*/
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.waves {
  position:relative;
  width: 100%;
  height:15vh;
  margin-bottom:-7px; /*Fix for safari gap*/
  min-height:100px;
  max-height:150px;
}

.content {
  position:relative;
  height:20vh;
  text-align:center;
  background-color: white;
}

.check {
    display: inline-block;
    transform: rotate(45deg);
    height: 12px;
    width: 24px;
    border-bottom: 7px solid green;
    margin: 10px;
    border-right: 7px solid Green;
}

.check-container{
    height:20vh;
}

/* Animation */

.parallax > use {
  animation: move-forever 25s cubic-bezier(.55,.5,.45,.5)     infinite;
}
.parallax > use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 7s;
}
.parallax > use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 10s;
}
.parallax > use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 13s;
}
.parallax > use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 20s;
}
@keyframes move-forever {
  0% {
   transform: translate3d(-90px,0,0);
  }
  100% { 
    transform: translate3d(85px,0,0);
  }
}


/*Shrinking for mobile*/
@media (max-width: 768px) {
  .waves {
    height:40px;
    min-height:40px;
  }
  .inner-header{
    display: inline;
  }
  h1 {
    font-size:24px;
  }
  .check-container{
    height:30vh;
   }
  .navMenu {
    position: absolute;
    top: 5%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);    
  }

  .check-container{
    display: grid;
    grid-template-columns: 150px 150px;
  }

  .check-container div{
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .navMenu a {
   font-size: 0.9em;
  }
}